*{
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: black;
}
body{
    box-sizing: border-box;
}
.navbar{
    position: sticky;
}

#logo-img{
    width: 65px;
    border: 2px solid;
    border-radius: 50%;
}
.navbar-nav{
    margin-left: auto;
}

.nav-item{
    /* display: flex;
    justify-content:end; */
}

/* 1St container  */
.container{
    display: flex;
    align-items: center;
}
.container img {
    height: 90%;
    width: 90%;
    padding: 15px;
    /* filter: drop-shadow(3px 5px 2px rgba(255, 0, 0, 0.4)); */
  }
  
.img-div{
    width: 40%;
}
.about{
    width: 60%;
}

/* Skills cotainer---------------------------- */
.skills{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill-container h5{
    text-align: center;
    padding: 7px;
    margin: 15px;
    max-width: 120px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

/* Projects Div Started----------------------- */
.project_container{
    margin: 25px;
}
.card{
    height: 370px;
}
.card img{
    padding: 8px;
    height: 250px;
    image-rendering: auto;
}

.r1,.r2{
    margin: 25px;
    /* border: 2px solid grey; */
}
.card-img-top{
    width: 200px;
}

/* Contact form CSS---------- */
.contact-container{
    margin: 20px;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    border: 1px solid gray;
    border-radius: 12px;
}
.contact-form{
    width: 80%; 
    padding: 20px;
}
.details,.contact-container form{
    padding: 20px;
}
.details{
    border-left: 1px solid gray;
    width: 20%;
}
.details button{
    margin: 20px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: red;
}

.footer{
    border: 1px solid red;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}
.footer h3{
    color: red;
}

/* Media Query CSS-------------------------------------- */

@media screen and (max-width: 600px) {
    
    .container{
        flex-direction: column;
    }
    .r1,.r2{
        margin: 20px;
        /* margin-top: 15px; */
        /* border: 2px solid grey; */
    }
    .card{
        margin-top: 15px;
    }

    .contact-container,.details{
        flex-direction: column;
        margin: 8px;
        border: none;
    }

    .contact-form{
        width: 100%;
        padding: 0%;
    }

    .details {
        border-top: 1px solid gray;
        width: 100%;
    }
    .details button{
        width: 100px;
    }
  }