*{
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: black;
}
body{
    box-sizing: border-box;
}
.navbar{
    position: sticky;
}

#logo-img{
    width: 65px;
    border: 2px solid;
    border-radius: 50%;
}
.navbar-nav{
    margin-left: auto;
}

.nav-item{
    /* display: flex;
    justify-content:end; */
}

/* 1St container  */
.container{
    display: flex;
    align-items: center;
}
.container img {
    height: 100%;
    width: 100%;
  }
  
.img-div{
    width: 40%;
}
.about{
    width: 60%;
}

/* Skills cotainer---------------------------- */
.skills{
    border: 1px solid rgb(172, 0, 0);
    margin: 20px;
    padding: 20px;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill-container h5{
    text-align: center;
    padding: 7px;
    margin: 15px;
    max-width: 120px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

/* Projects Div Started----------------------- */
.project_container{
    margin: 25px;
}
.card{
    height: 300px;
}

.r1,.r2{
    margin: 25px;
    /* border: 2px solid grey; */

}

/* Contact form CSS---------- */
.contact-container{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}
.contact-container form{
    width: 60%; 
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}

.footer{
    border: 1px solid red;
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}
.footer h3{
    color: red;
}

/* Media Query CSS-------------------------------------- */

@media screen and (max-width: 580px) {
    
    .container{
        flex-direction: column;

    }
    .card{
        margin-top: 15px;
    }



    .skill-container{
        /* flex-direction: column; */
    }
  }